/* Mobile */
.pusher {
    margin-left: 180px;
  }
  
  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .pusher {
      margin-left: 200px;
    }
  }
  
  @media only screen and (min-width: 991px) {
    .pusher {
      margin-left: 260px;
    }
  }