<div class="sidebar-container">
  <div
    class="ui container visible fixed inverted left vertical sidebar menu">
    <div class='item'>
      <div class='header'>News Reader</div>
    </div> <!-- item -->

    <div class='item'>
      <div class='menu'>
        <a
          class='item news-item'
          *ngFor='let source of sources | async'
          routerLink='/news/{{ source["id"] }}'
          routerLinkActive='active'>
          <span class='side-news-item'>
            <span class='side-news-item'>
              {{ source['name'] }}
            </span>
          </span>
        </a>
      </div> <!-- menu -->
    </div> <!-- item -->
  </div> <!-- sidebar menu container -->
</div> <!-- sidebar-container -->
